.btn-top {}

body,
html {
    height: 100%;
}

div.wrap {
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
}

.main-container {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}
td 
{   
    vertical-align: middle;
    height: 50px; 
    width:50px;
}

#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}

.align-middle-table{
    vertical-align: middle!important;
}

.item-tab {
    width: 70%;
}

.dimmed-background{
    background: gray;
}

.bottom-bar{
    position:absolute;
    bottom:10px;
}
